
<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <div class="counter" :style="{color : $store.state.colorCode}">
      <h1>{{$store.state.counter}}</h1>
    </div>
    <div class="counter-squared">
      <h2>{{$store.state.counter}}
        <sup>2</sup> = {{$store.getters.couterSquared}}
      </h2>
    </div>
    <div class="button">
      <button @click="$store.dispatch('decreaseCounter')">RanSub( - )</button>
      <button @click="$store.dispatch('increaseCounter')">RanAdd( + )</button>
    </div>
    <div>
      <input v-model="colorCode" placeholder="Enter color code" type="text">
    </div>
  </div>
</template>

<script>

export default {
  name: "Home",
  computed: {
    colorCode: {
      get(){
        return this.$store.state.colorCode
      },
      set(newVal){
        this.$store.dispatch('setColor', newVal)
      }
    }
  }
};
</script>

<style scoped>
button{
  font-size: 20px;
  padding: 10px;
  width: 160px;
  margin: 10px;
}
</style>
