<template>
  <div class="counter" :style="{color : $store.state.colorCode}">
    <h1>{{$store.state.counter}}</h1>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="css" scoped>
</style>
